@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

#preview-wrap { width: 420px; height: 710px; }
#preview-frame {
  width: 420px; height: 710px;
  transform: scale(0.75);
}

.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}
